#root {
  /* box */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  max-width: 1280px;
  padding: 2rem;
}

.flex{
    /* box for div */
    display: flex;
    align-items: center;
    justify-content: center;
}