.Button{
    /* box */
    display: flex;
    height: 48px;
    width: 364px;
    align-items: center;
    justify-content: center;

    background-color: #780116;
    border-radius: 10px;
    margin: 10px 0;
    
    /* text */
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}   

.Button.c{
    /* box */
    height: 33px;
    width: 185px;


    background: rgba(216, 88, 42, 0.979);
    border-radius: 10px;
}

.Button.c.disabled{
    /* box */
    background: rgba(216, 88, 42, 0.527);
}


.Button:hover{
     /* box */
    background-color: #b9304a;
}