.Button{
    display: block;
    height: 48px;
    width: 364px;
    align-items: center;

    background-color: #780116;
    border-radius: 10px;
    margin: 10px 0;
    
    /*Testo*/
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}   

.Button.disabled{
    background-color: #780116; opacity: 0.6;
}

.Button:hover{
    background-color: #b9304a;
}