:root {
  /* box */
  display: block;
  align-items: center;
  text-align: center;

  background-color:#F0F0C9;
}


#root{
  /* box */
  max-width: 900px;
  width: 100%;

  display: block;
  align-items: center;
  text-align: center;
}

body { 
  /* box */
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

