@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.Title{
    /* text */
    font-family: 'Concert One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    text-transform: uppercase;

    
    /* box */
    display: block;
    align-items: center;
    text-align: center;
    color: #D8572A;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
