@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.Title{
    font-family: 'Concert One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    /* or 62px */

    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #D8572A;

    text-shadow: 2px solid #000000;
}